
<div *ngIf="cabPosition">
    <h2><span>Cab Position</span> {{cabPosition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Qr</span></dt>
        <dd>
            <span>{{cabPosition.qr}}</span>
        </dd>
        <dt><span>Time</span></dt>
        <dd>
            <span>{{cabPosition.time}}</span>
        </dd>
        <dt><span>Latitude</span></dt>
        <dd>
            <span>{{cabPosition.latitude}}</span>
        </dd>
        <dt><span>Longitude</span></dt>
        <dd>
            <span>{{cabPosition.longitude}}</span>
        </dd>
        <dt><span>Accuracy</span></dt>
        <dd>
            <span>{{cabPosition.accuracy}}</span>
        </dd>
        <dt><span>Speed</span></dt>
        <dd>
            <span>{{cabPosition.speed}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cab-position/'+ cabPosition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
