<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCarOnRouteLabel" jhiTranslate="cityTrafficServerApp.carOnRoute.home.createOrEditLabel">Create or edit a Car On Route</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!carOnRoute.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="carOnRoute.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cityTrafficServerApp.carOnRoute.timeLogin" for="field_timeLogin">Time Login</label>
            <div class="input-group">
                <input id="field_timeLogin" type="text" class="form-control" name="timeLogin" ngbDatepicker  #timeLoginDp="ngbDatepicker" [(ngModel)]="carOnRoute.timeLogin"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="timeLoginDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cityTrafficServerApp.carOnRoute.timeLogout" for="field_timeLogout">Time Logout</label>
            <div class="input-group">
                <input id="field_timeLogout" type="text" class="form-control" name="timeLogout" ngbDatepicker  #timeLogoutDp="ngbDatepicker" [(ngModel)]="carOnRoute.timeLogout"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="timeLogoutDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="cityTrafficServerApp.carOnRoute.car" for="field_car">Car</label>
            <select class="form-control" id="field_car" name="car" [(ngModel)]="carOnRoute.carId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="carOption.id" *ngFor="let carOption of cars; trackBy: trackCarById">{{carOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="cityTrafficServerApp.carOnRoute.route" for="field_route">Route</label>
            <select class="form-control" id="field_route" name="route" [(ngModel)]="carOnRoute.routeId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="busRouteOption.id" *ngFor="let busRouteOption of busroutes; trackBy: trackBusRouteById">{{busRouteOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
